{% extends "base.html" %}
{% block content %}
  {% load static %}
  <section class="section" id="chefs">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4 text-center">
          <div class="section-heading">
            <h6>Our Chefs</h6>
            <h2>We offer the best ingredients for you</h2>
          </div>
        </div>
      </div>
      {% if cook_list %}
        {% for cook in cook_list %}
          <div class="row">
            <div class="col-lg-4">
              <div class="chef-item">
                <div class="thumb">
                  <div class="overlay"></div>
                    <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  <img src="{{ cook.photo.url }}" alt="chef">
                </div>
                <div class="down-content">
                  <a href="{% url 'menu:cook-detail' cook.pk %}"><h4>{{ cook.full_name }}</h4></a>
                  <span>{{ cook.years_of_experience }} years of experience</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </section>
{% endblock %}